

/*my cod estarts here*/


/*p{
	background-color: blue;
}


h3{
	background-color: green;
}


div h4{
	background-color: yellow;
}

.index-h5{
	background-color: violet;
}

.index-intro p{
	color: green;
}

#heya{
	color: yellow;
}*/





/*@font-face{
	src: url(fonts/teko/Teko-Medium.ttf);
	font-family: Teko;
}

body{
	background-color: #eee;
}

h1{
	font-family: arial,"Times New Roman";
	font-size: 22;
	font-style: inherit;
	font-weight: 200;
	text-align: left;
	text-decoration: underline;
	text-indent: 50px;
	text-transform: capitalize;
}
p{
	font-family: Teko;
}

ul {
	margin-left: 70px;

}
ul li{
	list-style: none;
	display: inline-block;

}
ul li a{
	text-decoration: none;
	color: grey;
	padding: 20px;
}
ul li a:hover {
	color: red;
}
nav{
	width: 100%;
	background-color: yellow;
}
.wrapper{
	margin: 0 auto;
	width: 80%;
}

.first-img{
	width: 300px;
}

.first1-img{
	width: 300px;
	height: 200px;
	/* background-size: cover; */
/*	background-image: url("img/first1.jpg");
}
.first1-img:hover{
	background-size: 100%;
}
.videowrapper{
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 25px;
	height: 0px;
}
.videowrapper iframe{
	position: absolute;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
	height: 100%;
	width: 100%;
}*/



