{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <title>login</title>
</head>
<body>
    <form class="box" action="" method="post">
        {% csrf_token %}
        <input type="text" name="username" placeholder="enter your username"><br>
        <input type="password" name="password" placeholder="enter your password"><br>
        
        <input type="submit">
        <small><a href="{% url 'reset_password' %}">ForgotYourPassword?</a></small>
    </form>

    <div>
        {% for message in messages %}
        <h3>{{ message }}</h3>
        {% endfor %}
    </div>

</body>
</html>