{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Modelling</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" type="text/css" href="{% static 'css/modelling.css' %}">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
 	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
 	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>


</head>
<body>

	<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
          <!-- Brand -->
          <a class="navbar-brand" href="project1.html">
            <img src="{% static 'img/first1.jpg' %}" alt="logo" style="width:40px;">
          </a>

          <!-- Links -->
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="academics.html">ACADEMICS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="projects.html">PROJECTS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="contact.html">CONTACT ME</a>
            </li>

            <!-- Dropdown -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                Co-Curriculum
              </a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="saic.html">SAIC</a>
                <a class="dropdown-item" href="modelling.html">MODELLING</a>
                <a class="dropdown-item" href="sports.html">OTHERS</a>
              </div>
            </li>
          </ul>
        </nav>
  
	<header>
		<img src="{% static 'img/mod1.jpg' %}">
	</header> >
		
	<div class="heading">
		<h2>history of modelling</h2>
		At the turn of the 19th century, exclusive fashion houses in Europe, distinctly Paris and London, were using formal presentations to showcase their latest line to clientele. One of the most notable designers of this concept, Charles Fredrick Worth, gained traction by displaying clothes on actual people instead of mannequins. As the popularity for these formal presentations expanded, it was in 1918 when fashion houses established fixed dates for Runway shows to occur. These occurrences took place twice annually, specifically for fashion houses to plan for and promote their lines to foreign buyers. These Runway shows were often held in department stores or hotels when they first began. European fashion houses would actively seek out buyers in the United States, specifically in larger cities, by hosting these runway shows.

	</div>
<br><br>

	<div class="journey">
		<h2>MY JOURNEY</h2>
		<p>
			<img src="{% static 'img/mod2.jpg' %}">
			It was the day of 23 September when we have to showcase the result of our intense practice. Getting up at 6:00 daily for consecutive two weeks, and now I won't let anything wrong in my formation. Winning the contest has also become my priority now, but the path was not that easy. That day it seemed like, I was the one with the least looks. but surely it wasnt, it was the tension of competition that was generating such thoughts.
		</p>  
	</div>
    
    <br>

	<div class="rounds">
		<h2>IT BEGINS</h2>
		<div class="round1">
			
				<img src="{% static 'img/mod3.jpg' %}">
				<h4>ROUND1</h4>
				<p>..................</p>
			
		</div>

		<div class="round2">
			
				<img src="{% static 'img/mod4.jpg' %}">
				<h4>ROUND2</h4>
				<p>..............</p>
			
		</div>
		<br><br>
	</div>

	<section class="results">
			
		<img class="left1" src="{% static 'img/mod6.jpg' %}">
		<img class="right1" src="{% static 'img/mod5.jpg' %}">
		<p>................................... .................... .............. ......... .....</p>

	</section>

	<br><br>
	
     <div class="footer">
      <p>ek bhot achi quote</p>
    </div>

	
</body>
</html>